{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "no-undef": 0
  }
}
