<!-- partial:./base/_head.html -->
<!-- partial -->
<!-- partial:./base/_loader.html -->
<!-- partial -->
<div id="main-wrapper">
  <!-- partial:./components/_header.html -->
  <!-- partial -->
  <main>
    <!-- partial:./components/_home-banner.html -->
    <!-- partial -->
    <!-- partial:./components/_who-we-are-block.html -->
    <!-- partial -->
    <!-- partial:./components/_what-we-do-block.html -->
    <!-- partial -->
    <!-- partial:./components/_chat-block.html -->
    <!-- partial -->
    <!-- partial:./components/_gallery-slider.html -->
    <!-- partial -->
    <!-- partial:./components/_news-events-slider.html -->
    <!-- partial -->
    <!-- partial:./components/_testimonials-slider.html -->
    <!-- partial -->
    <!-- partial:./components/_map-block.html -->
    <!-- partial -->
  </main>
  <div class="recruit-btn">
    <button class="btn btn-secondary text-uppercase">Recruit a nanny</button>
  </div>
  <!-- partial:./components/_footer.html -->
  <!-- partial -->
</div>
<!-- partial:./base/_footer.html -->
<!-- partial -->
