<!-- partial:./base/_head.html -->
<!-- partial -->
<!-- partial:./base/_loader.html -->
<!-- partial -->
<div id="main-wrapper">
  <!-- partial:./components/_header.html -->
  <!-- partial -->
  <main>
    <section class="main-banner">
      <div class="container">
        <div class="slider-wrapper">
          <ul class="list-unstyled slider">
            <li style="background-image: url('/img/banner1.png');" class="slides">
              <div class="col-md-6">
                <h3 class="title">the first of its kind in the middle east</h3>
                <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
                <button class="btn btn-primary btn-lg">Apply Now</button>
              </div>
            </li>
            <li style="background-image: url('/img/2.jpg');" class="slides">
              <div class="col-md-6">
                <h3 class="title">the first of its kind the first of its kind </h3>
                <p>QNTA provides high-quality training to</p>
                <button class="btn btn-primary btn-lg">Apply Now</button>
              </div>
            </li>
          </ul>
          <!-- partial:./components/_sociaIMediaIcons.html -->
          <!-- partial -->
        </div>
      </div>
    </section>
    <section class="who-we-are">
      <div class="container">
        <div class="sec-wrapper">
          <div class="col-lg-6 col-sm-4 bg-img d-none d-lg-block"></div>
          <div class="col-lg-6 col-sm-8 content">
            <div>
              <h3 class="title">who we are</h3>
              <div class="col-lg-6 col-sm-4 bg-img d-lg-none"></div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <button class="btn btn-primary">About qnta</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="what-we-do">
      <div class="container">
        <div class="content content-main col-lg-4">
          <h3 class="title">what we do</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit commodo ligula eget. Aenean commodo ligula eget dolor. Acommodo ligula eget Aenean massa.</p>
        </div>
        <div class="overlayed-sec row">
          <div class="col-lg-6">
            <div class="content content-block left-block clearfix">
              <h3 class="title">Nannies workshop</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean consectetuer adipiscing elit massa.</p>
              <button class="btn btn-primary">Apply Now</button>
            </div>
          </div>
          <div class="col-lg-6">
            <figure></figure>
            <div class="content content-block top-block clearfix">
              <h3 class="title">Nannies training</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean consectetuer adipiscing elit massa.</p>
              <button class="btn btn-primary">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="chat">
      <div class="container">
        <div class="chat-wrapper">
          <div class="col-lg-7">
            <div class="chat-body ch-qnta">
              <figure style="background-image: url('/img/chat-qnta.png');"></figure>
              <div class="ch-txt">
                Hi Muhammed, How can we help you?
              </div>
            </div>
            <div class="chat-body ch-usr">
              <div class="ch-txt">
                Hi, My family looking for a trusted nanny service and a nanny , who have a better knowledge about islamic culture
              </div>
              <figure style="background-image: url('/img/user.jpg');"></figure>
            </div>
            <div class="chat-body ch-qnta">
              <figure style="background-image: url('/img/chat-qnta.png');"></figure>
              <div class="ch-txt">
                Dont worry Througn QNTA you can choose any nanny from the accadamy and then sign a contract directly with her.
              </div>
            </div>
            <div class="chat-body ch-qnta">
              <figure style="background-image: url('/img/chat-qnta.png');"></figure>
              <div class="ch-txt">
                Submit your application by directly clicking REQRUIT A NANNY
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="gallery">
      <div class="container">
        <div class="">
          <div class="title-with-btn col-sm-12">
            <h3 class="title">our gallery</h3>
            <button class="btn btn-outline-secondary d-none d-lg-block">View all</button>
          </div>
        </div>
      </div>
      <div class="slider-wrapper">
        <ul class="list-unstyled slider">
          <li class="slides">
            <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
              <div class="slider-content">
                <h4 class="slide-title">Recent Graduated Nannies</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non modi fugit obcaecati incidunt natus excepturi eaque quisquam, quia</p>
              </div>
            </div>
          </li>
          <li class="slides">
            <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap darker-shade">
              <div class="slider-content">
                <h4 class="slide-title">Recent Graduated Nannies</h4>
              </div>
            </div>
          </li>
          <li class="slides">
            <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
              <div class="slider-content">
                <h4 class="slide-title">Recent Graduated Nannies</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non modi fugit obcaecati incidunt natus excepturi eaque quisquam, quia</p>
              </div>
            </div>
          </li>
          <li class="slides">
            <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
              <div class="slider-content">
                <h4 class="slide-title">Recent Graduated Nannies</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non modi fugit obcaecati incidunt natus excepturi eaque quisquam, quia</p>
              </div>
            </div>
          </li>
          <li class="slides">
            <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
              <div class="slider-content">
                <h4 class="slide-title">Recent Graduated Nannies</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="btn btn-outline-secondary d-lg-none v-all-btn-mob">View All</button>
    </section>
    <section class="events">
      <div class="container">
        <div class="">
          <div class="title-with-btn col-sm-12">
            <h3 class="title">news and events</h3>
            <button class="btn btn-outline-secondary d-none d-lg-block">View All</button>
          </div>
          <div class="row">
            <div class="col-sm-6 events-list-wrapper">
              <div class="date">
                <span class="month">18 DEC</span>
                <span class="year">2018</span>
              </div>
              <div class="event-body">
                <buttton class="btn btn-dark">Open Event</buttton>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque</p>
                <a href="" class="read-more">READ MORE</a>
              </div>
            </div>
            <div class="col-sm-6 events-list-wrapper">
              <div class="date">
                <span class="month">04 SEP</span>
                <span class="year">2018</span>
              </div>
              <div class="event-body">
                <buttton class="btn btn-dark">Closed Event</buttton>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque</p>
                <a href="" class="read-more">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="events-slides">
        <figure class="col-sm-4" style="background-image: url('/img/who-we-are1.png');"></figure>
        <div class="col-sm-8 clearfix">
          <div class="slider-wrapper">
            <ul class="list-unstyled slider row">
              <li class="slides  clearfix">
                <div class="slider-content">
                  <div>
                    <div class="event-date">23 SEP 2018</div>
                    <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
                  </div>
                  <a href="" class="read-more">READ MORE</a>
                </div>
              </li>
              <li class="slides  clearfix">
                <div class="slider-content">
                  <div>
                    <div class="event-date">23 SEP 2018</div>
                    <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
                  </div>
                  <a href="" class="read-more">READ MORE</a>
                </div>
              </li>
              <li class="slides  clearfix">
                <div class="slider-content">
                  <div>
                    <div class="event-date">23 SEP 2018</div>
                    <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
                  </div>
                  <a href="" class="read-more">READ MORE</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-secondary d-lg-none v-all-btn-mob">View All</button>
    </section>
    <section class="testimonials">
      <div class="container">
        <h3 class="title">who we are</h3>
        <div class="slider-wrapper">
          <ul class="list-unstyled slider">
            <li class="slides">
              <div class="slider-content">
                <div class="user-pic" style="background-image: url('/img/user.jpg');"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quidem eos est non facilis, rem provident. Sint, tempora non id nam sequi obcaecati animi vitae ratione quis totam quo itaque?</p>
                <div class="user-name">Omayat Mohamed Sindu</div>
              </div>
            </li>
            <li class="slides">
              <div class="slider-content">
                <div class="user-pic" style="background-image: url('/img/user.jpg');"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quidem eos est non facilis, rem provident. Sint, tempora non id nam sequi obcaecati animi vitae ratione quis totam quo itaque?</p>
                <div class="user-name">Omayat Mohamed Sindu</div>
              </div>
            </li>
          </ul>
          <button class="btn btn-outline-secondary">View All</button>
        </div>
      </div>
    </section>
    <section class="map">
      <div class="map-wrp">
        <figure>
          <img src="/img/map.png" alt="" class="img-fluid">
				</figure>
      </div>
      <div class="container address-wrapper">
        <div class="address-block">
          <figure><img src="/img/address.png" class="img-fluid" alt=""></figure>
            <span class="po-box">PO Box:63364 Doha-Qatar</span>
            <span>Tel: +974 4454 7351</span>
            <span>Fax: +974 4454 7113</span>
            <span>Email: qnta@qf.org.qa</span>
            <span>www.qnta.qa</span>
        </div>
      </div>
    </section>
  </main>
  <div class="recruit-btn">
    <button class="btn btn-secondary text-uppercase">Recruit a nanny</button>
  </div>
  <!-- partial:./components/_footer.html -->
  <!-- partial -->
</div>
<!-- partial:./base/_footer.html -->
<!-- partial -->
