<section class="chat">
  <div class="container">
    <div class="chat-wrapper">
      <div class="col-lg-7">
        <div class="chat-body ch-qnta">
          <figure style="background-image: url('/img/chat-qnta.png');"></figure>
          <div class="ch-txt">
            Hi Muhammed, How can we help you?
          </div>
        </div>
        <div class="chat-body ch-usr">
          <div class="ch-txt">
            Hi, My family looking for a trusted nanny service and a nanny , who have a better knowledge about islamic culture
          </div>
          <figure style="background-image: url('/img/user.jpg');"></figure>
        </div>
        <div class="chat-body ch-qnta">
          <figure style="background-image: url('/img/chat-qnta.png');"></figure>
          <div class="ch-txt">
            Dont worry Througn QNTA you can choose any nanny from the accadamy and then sign a contract directly with her.
          </div>
        </div>
        <div class="chat-body ch-qnta">
          <figure style="background-image: url('/img/chat-qnta.png');"></figure>
          <div class="ch-txt">
            Submit your application by directly clicking REQRUIT A NANNY
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
