<footer id="main-footer" class="container">
  <!-- footer menu -->
  <div class="footer-menu-wrp">
    <div class="footer-menu">
      <ul class="list-unstyled">
        <li><a href="">Home</a></li>
        <li><a href="">About QNTA</a></li>
        <li><a href="">Parents</a></li>
        <li><a href="">Media</a></li>
        <li><a href="">Testimonials</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Site Map</a></li>
      </ul>
      <div>
        <h4 class="footer-title">Nannies</h4>
        <ul class="list-unstyled">
          <li><a href="">-Nanny Enrollment request</a></li>
          <li><a href="">-Apply for Training Workshop</a></li>
          <li><a href="">-Cooperation winth QNTA</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-subscribe-sec">
      <h4 class="footer-title">Subscribe Newsletter</h4>
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email Address">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <img src="./img/footer-logo.png" alt="" class="img-fluid">
      <!-- partial:_sociaIMediaIcons.html -->
      <!-- partial -->
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center text-uppercase">Copy right © 2018 QNTA, all rights reserved</div>
</footer>
