<section class="gallery">
  <div class="container">
    <div class="">
      <div class="title-with-btn col-sm-12">
        <h3 class="title">our gallery</h3>
        <button class="btn btn-outline-secondary d-none d-lg-block">View all</button>
      </div>
    </div>
  </div>
  <div class="slider-wrapper">
    <ul class="list-unstyled slider">
      <li class="slides">
        <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
          <div class="slider-content">
            <h4 class="slide-title">Recent Graduated Nannies</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non modi fugit obcaecati incidunt natus excepturi eaque quisquam, quia</p>
          </div>
        </div>
      </li>
      <li class="slides">
        <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap darker-shade">
          <div class="slider-content">
            <h4 class="slide-title">Recent Graduated Nannies</h4>
          </div>
        </div>
      </li>
      <li class="slides">
        <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
          <div class="slider-content">
            <h4 class="slide-title">Recent Graduated Nannies</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non modi fugit obcaecati incidunt natus excepturi eaque quisquam, quia</p>
          </div>
        </div>
      </li>
      <li class="slides">
        <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
          <div class="slider-content">
            <h4 class="slide-title">Recent Graduated Nannies</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam non modi fugit obcaecati incidunt natus excepturi eaque quisquam, quia</p>
          </div>
        </div>
      </li>
      <li class="slides">
        <div style="background-image: url('/img/who-we-are1.png');" class="slide-img-wrap">
          <div class="slider-content">
            <h4 class="slide-title">Recent Graduated Nannies</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn btn-outline-secondary d-lg-none v-all-btn-mob">View All</button>
</section>
