<header id="main-header">
  <nav class="container">
    <div class="menu-top">
      <button class="search text-secondary ">
        <i class="fas fa-search fa-lg"></i>
      </button>
      <div class="logo"><a href=""><img src="img/logo.png" alt="" class="img-fluid"></a></div>
        <div class="language-switch">eng</div>
      </div>
      <div class="main-menu" id="main-nav">
        <ul class="list-unstyled text-uppercase">
          <li><a href="">home</a></li>
          <li><a href="">about qnta</a></li>
          <li><a href="">nannies</a></li>
          <li><a href="">parents</a></li>
        </ul>
        <ul class="list-unstyled text-uppercase">
          <li><a href="">media</a></li>
          <li><a href="">testimonials</a></li>
          <li><a href="">faq</a></li>
          <li><a href="">contact us</a></li>
        </ul>
      </div>
      <div class="mobile-toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </nav>
</header>
