<section class="main-banner">
  <div class="container">
    <div class="slider-wrapper">
      <ul class="list-unstyled slider">
        <li style="background-image: url('/img/banner1.png');" class="slides">
          <div class="col-md-6">
            <h3 class="title">the first of its kind in the middle east</h3>
            <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
            <button class="btn btn-primary btn-lg">Apply Now</button>
          </div>
        </li>
        <li style="background-image: url('/img/2.jpg');" class="slides">
          <div class="col-md-6">
            <h3 class="title">the first of its kind the first of its kind </h3>
            <p>QNTA provides high-quality training to</p>
            <button class="btn btn-primary btn-lg">Apply Now</button>
          </div>
        </li>
      </ul>
      <!-- partial:./_sociaIMediaIcons.html -->
      <!-- partial -->
    </div>
  </div>
</section>
