<section class="main-banner detect-animate" data-animation="fade-in">
  <div class="slider-wrapper">
    <ul class="list-unstyled slider">
      <li class="slides">
        <div class="container">
          <div class="background">
            <div class="bg-image" style="background-image: url('./img/fpo.jpg');"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 class="title">the first of its kind in the middle east</h3>
              <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
              <button class="btn btn-primary btn-lg">Apply Now</button>
            </div>
          </div>
        </div>
      </li>
      <li class="slides">
        <div class="container">
          <div class="background">
            <div class="bg-image" style="background-image: url('./img/fpo.jpg');"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3 class="title">the first of its kind the first of its kind </h3>
              <p>QNTA provides high-quality training to</p>
              <button class="btn btn-primary btn-lg">Apply Now</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="container"> 
      <!-- partial:./_sociaIMediaIcons.html -->
      <!-- partial -->
    </div>
  </div>
</section>
