<section class="map">
  <div class="background">
    <div class="bg-image parallax-bg lazyload-bg" data-src='./img/map.png'></div>
  </div>
  <div class="container address-wrapper">
    <div class="address-block">
      <figure><img src="/img/address.png" class="img-fluid" alt=""></figure>
        <span class="po-box">PO Box:63364 Doha-Qatar</span>
        <span>Tel: +974 4454 7351</span>
        <span>Fax: +974 4454 7113</span>
        <span>Email: qnta@qf.org.qa</span>
        <span>www.qnta.qa</span>
    </div>
  </div>
</section>
