<section class="events detect-animate" data-animation="from-bottom-elements-lazy">
  <div class="container">
    <div class="">
      <div class="title-with-btn col-sm-12">
        <h3 class="title">news and events</h3>
        <button class="btn btn-outline-secondary d-none d-lg-block">View All</button>
      </div>
      <div class="row">
        <div class="col-sm-6 events-list-wrapper">
          <div class="date">
            <span class="month">18 DEC</span>
            <span class="year">2018</span>
          </div>
          <div class="event-body">
            <buttton class="btn btn-secondary">Open Event</buttton>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque</p>
            <a href="" class="read-more">READ MORE</a>
          </div>
        </div>
        <div class="col-sm-6 events-list-wrapper">
          <div class="date">
            <span class="month">04 SEP</span>
            <span class="year">2018</span>
          </div>
          <div class="event-body">
            <buttton class="btn btn-secondary">Closed Event</buttton>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque</p>
            <a href="" class="read-more">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events-slides">
    <figure class="col-sm-4" style="background-image: url('/img/who-we-are1.png');"></figure>
    <div class="col-sm-8 clearfix">
      <div class="slider-wrapper">
        <ul class="list-unstyled slider row">
          <li class="slides  clearfix">
            <div class="background">
              <div class="bg-image" style="background-image: url('/img/who-we-are1.png');"></div>
              <div class="mask bg-primary"></div>
            </div>
            <div class="slider-content">
              <div>
                <div class="event-date">23 SEP 2018</div>
                <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
              </div>
              <a href="" class="read-more">READ MORE</a>
            </div>
          </li>
          <li class="slides  clearfix">
            <div class="background">
              <div class="bg-image" style="background-image: url('/img/who-we-are1.png');"></div>
              <div class="mask bg-primary"></div>
            </div>
            <div class="slider-content">
              <div>
                <div class="event-date">23 SEP 2018</div>
                <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
              </div>
              <a href="" class="read-more">READ MORE</a>
            </div>
          </li>
          <li class="slides  clearfix">
            <div class="background">
              <div class="bg-image" style="background-image: url('/img/who-we-are1.png');"></div>
              <div class="mask bg-primary"></div>
            </div>
            <div class="slider-content">
              <div>
                <div class="event-date">23 SEP 2018</div>
                <p>QNTA provides high-quality training to muslim arab-speaking nannies</p>
              </div>
              <a href="" class="read-more">READ MORE</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-secondary d-lg-none v-all-btn-mob">View All</button>
</section>
