<section class="testimonials" >
  <div class="container detect-animate" data-animation="from-bottom-elements-lazy">
    <h3 class="title">who we are</h3>
    <div class="slider-wrapper">
      <ul class="list-unstyled slider">
        <li class="slides">
          <div class="slider-content">
            <div class="user-pic" style="background-image: url('./img/user.jpg');"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quidem eos est non facilis, rem provident. Sint, tempora non id nam sequi obcaecati animi vitae ratione quis totam quo itaque?</p>
            <div class="user-name">Omayat Mohamed Sindu</div>
          </div>
        </li>
        <li class="slides">
          <div class="slider-content">
            <div class="user-pic" style="background-image: url('./img/user.jpg');"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quidem eos est non facilis, rem provident. Sint, tempora non id nam sequi obcaecati animi vitae ratione quis totam quo itaque?</p>
            <div class="user-name">Omayat Mohamed Sindu</div>
          </div>
        </li>
      </ul>
      <button class="btn btn-outline-secondary">View All</button>
    </div>
  </div>
</section>
