<section class="what-we-do">
  <div class="container">
    <div class="content content-main col-lg-4">
      <h3 class="title">what we do</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit commodo ligula eget. Aenean commodo ligula eget dolor. Acommodo ligula eget Aenean massa.</p>
    </div>
    <div class="overlayed-sec row">
      <div class="col-lg-6">
        <div class="content content-block left-block clearfix">
          <h3 class="title">Nannies workshop</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean consectetuer adipiscing elit massa.</p>
          <button class="btn btn-primary">Apply Now</button>
        </div>
      </div>
      <div class="col-lg-6">
        <figure></figure>
        <div class="content content-block top-block clearfix">
          <h3 class="title">Nannies training</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean consectetuer adipiscing elit massa.</p>
          <button class="btn btn-primary">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
