<section class="who-we-are">
  <div class="container">
    <div class="sec-wrapper">
      <div class="col-lg-6 col-sm-4 bg-img d-none d-lg-block detect-animate" data-animation="fade-in"></div>
      <div class="col-lg-6 col-sm-8 content">
        <div class="detect-animate" data-animation="from-bottom-elements-lazy">
          <h3 class="title">who we are</h3>
          <div class="col-lg-6 col-sm-4 bg-img d-lg-none"></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <button class="btn btn-primary">About qnta</button>
        </div>
      </div>
    </div>
  </div>
</section>
