<section class="who-we-are">
  <div class="container">
    <div class="sec-wrapper row">
      <div class="col-lg-6 col-sm-4  d-none d-sm-block detect-animate lg-screen" data-animation="fade-in">
        <div class="bg-image lazyload-bg preload_background"
          data-src='./img/who-we-are1.png'></div>
      </div>
      <div class="col-lg-6 col-sm-8 content">
        <div class="detect-animate" data-animation="from-bottom-elements-lazy">
          <h3 class="title">who we are</h3>
          <img src="./img/who-we-are1.png" class="img-fluid d-sm-none sm-screen mb-4" alt=""> <!-- add this img for  responsive -->
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <button class="btn btn-primary">About qnta</button>
        </div>
      </div>
    </div>
  </div>
</section>
