
// xs: 0,
// sm: 480px,
// md: 1024px,
// lg: 1200px
    // @include media-breakpoint-up(sm) {
    // }
    // @include media-breakpoint-down(md) {
    // }

    // @include media-breakpoint-up(sm){
    // 	.who-we-are{
    // 		.sm-screen{ 
    // 			display: none !important; 
    // 		}
    // 		.lg-screen{
    // 			display: block !important; 
    // 		}
    // 	}
    // }

@include media-breakpoint-down(md) {
	.detect-animate{
		transform: none !important;
	}
	body{
		padding-top: 96px;
	}

	.mobile-toggle-button{
		display: block;
	}
	.logo{
		width: 100px;
	}
    .main-menu{
    	margin: 0;
    	position: fixed;
	    display: block;
		background: rgba(0, 0, 0, 0.95);
	    top: 0;
	    transition: all .5s ease;
	    right: -100%;
	    height: 100vh;
	    width: 300px;
		padding: 25px;
		padding-top: 55px;

	    & > ul{
	    	display: block;
	    }

	    a{
	    	color: $white;
	    }
    }
    .show-menu{
    	.main-menu{
    		right: 0;
    	}
    }

    .recruit-btn{
    	right: 25px;
    }

    .bg-img{
    	background-position: right center;
    }
    .who-we-are{
    	.content{
	    	padding-left: $grid-gutter-width/2;
	    }
  //   	.bg-img{
		// 	height: 250px;
		// 	margin-bottom: 20px;
		// }
    }

    .what-we-do{
    	figure{
    		display: none;
    	}
    	.content-block{
    		width: 100%;
    		&.left-block{
    			padding: 55px;
    			margin-bottom: 25px;
    			&::before{
    				content: none;
    			}
    		}
    		&.top-block{
				position: static;
				transform: none;
    		}
    	}
    }

    .chat{
    	height: auto;
    	padding: 50px 0;
    }

    #main-wrapper #main-header+main{
    	padding-top: 15px;
    }

    .main-banner{
    	.slides{
    		height: 450px;
    	}
    }
}

@include media-breakpoint-down(sm) {
	.footer-menu-wrp{
		display: block;
	}
	.footer-subscribe-sec{
		margin: auto;
		text-align: center;
		.social-icons{
			justify-content: center;
		}
	}

	.main-banner{
		.container{
			padding: 0;
		}
		.slides{
			position: relative;
			color: #fff;
			display: flex !important;
			padding: 0;
			&  .row{
			    width: 80%;
			    margin: auto;
			    text-align: center;
			}
			&::before{
				content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(121,15,49,.9);
			}
		}
		.slick-dots{
			display: none !important;
		}
		.social-icons{
			left: 0;
			right: 0;
			justify-content: center;
		}
	}

	.what-we-do .content-block.left-block{
		padding: 40px 30px;
	}

	.who-we-are{
		.bg-img{
			height: 250px;
			margin-bottom: 20px;
		}
		.btn{
			float: none;
			margin: auto;
			display: block;
		}
	}

	.chat{
		.ch-txt{
			width: calc(100% - 50px);
		}
		figure{
			position: relative;
		}
		.ch-qnta figure{
			right: -7px;
		}
		.ch-usr figure{
			left: -7px;
		}
	}

	.gallery {
		.slide-img-wrap{
			height: 322px;
		}
		.slides{
			padding: 0 10px;
		}
	}

	.events{
		.events-list-wrapper:first-child{
			margin-bottom: 20px;
		}
		.date{
			width: 78px;
		}
		.event-body{
			flex: 1;
		}
		.events-slides{
			figure{
				display: none;
				& + div{
					max-width: 100%;
				}
			}
		}
		.events-list-wrapper .btn{
			max-width: 130px;
			    min-width: auto;
		}
	}

	.menu-top{
		.search-wrp{
			position: static;
			.search-fld{
				position: absolute;
				bottom: 8px;
				width: 100%;
				left: 0;
				padding: 0 15px;
			}
			.search{
				//display: none;
				position: absolute;
				right: 20px;
				bottom: 15px;
			}
			input{

			}
		}
	}
	#main-header .header-inner{
		padding-bottom: 50px;
	}

	.nanny-form {
		padding: 35px 20px;
		width: 380px;
		.form-close{
			position: absolute;
			top: 0;
			right: 0;
		}
	}

}

@include media-breakpoint-down(xs){
	.nanny-form{
		width: 290px;
		padding-right: 0;
		.form-group{
			& > div:nth-child(2){
				margin-top: 15px;
			}
		}
	}

	.footer-subscribe-sec{
		width: 250px;
	}

	.map .address-wrapper{
		padding-left: 0;
	}
}